<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<title>Temperature Chart</title>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		{% block content %}
		{% endblock %}
</head>
<body>
	<div id="chart_div" style="width: 100%; height: 800px;"></div>
	<div id="chart_div_humidity" style="width: 100%; height: 800px;"></div>
    {% block inputdate %}
    {% endblock %}
</body>
</html>
