{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Temp'],
        {% for record in temp_list %}
          ['{{record.date}}',  {{record.temp}}],
        {% endfor %}
        ]);
        // グラフのオプションを設定
        var options = {
          title: '{{title}}'
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
