{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var dataTable= new google.visualization.DataTable();
        dataTable.addColumn('datetime','DateTime');
        dataTable.addColumn('number','Temp1');
        dataTable.addColumn('number','Temp2');
        dataTable.addRows([
        {% for record in temp_list %}[new Date({{record.date}}),{{record.temp}}, {{record.temp2}}],
        {% endfor %}
        ]);
        // グラフのオプションを設定
        var options = {
          title: "Temperature"
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(dataTable, options);
      }
    </script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var dataTable= new google.visualization.DataTable();
        dataTable.addColumn('datetime','DateTime');
        dataTable.addColumn('number','humidity');
        dataTable.addRows([
        {% for record in temp_list %}[new Date({{record.date}}),{{record.humidity}}],
        {% endfor %}
        ]);
        // グラフのオプションを設定
        var options = {
          title: "Humidity"
        };
        var chart = new google.visualization.LineChart(document.getElementById('chart_div_humidity'));
        chart.draw(dataTable, options);
      }
    </script>
{% endblock %}
